* {
    margin: 0;
    padding: 0;
    background-color: black;
}

h1 {
    color: white;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0.2px;
}

.home-button {
    background-color: chartreuse;
    border-radius: 50px;
    padding: 1rem 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: green;
}